body {
    background-image: url(fundo-do-mar.jpg);
    background-repeat: no-repeat;
    background-size: 1550px;
    text-align: center;
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
    display: block;
    border-bottom: 2px solid rgb(85, 85, 202);
    border-bottom-style: ridge;
}
h1 {
    margin: 0;
    height: 60px;
    font-family: 'Indie Flower', cursive;
}


.fotogrande {
    width: 500px;
    border: 3px solid black;
    border-radius: 20px;
}

.fotopequena {
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;}
