.super-mario {
  width: 200px;
  position: absolute;
  
}

.goomba {
  width: 100px;
  position: absolute;
  top: 375px;
  left: 60px;
  
}

.baloon {
position: absolute;
left: 200px;
top: 120px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 220px;
  top: 155px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 500px;
  top: 260px;
  
}