div:nth-of-type(1) {
    background-color: rgb(107, 107, 182);
}
div:nth-of-type(2) {
    background-color: darkgoldenrod;
}
div:nth-of-type(3) {
    background-color: darkred;
}
div:nth-of-type(4) {
    background-color: forestgreen;
}
div:nth-of-type(5) {
    background-color: mediumorchid;
}
div:nth-of-type(1) h3 {
    color: rgb(255, 255, 255);
}
div:nth-of-type(2) h3{
    color: bisque;
}
div:nth-of-type(3) h3{
    color: aqua;
    font-size: 35px;
}
div:nth-of-type(4) h3{
    color: blanchedalmond;
}
div:nth-of-type(5) h3{
    color: darkgray;
}
div:nth-of-type(2n+1) h3{
    font-style: italic;
}
/* h3:nth-of-type(2n+1) {
    font-style: italic;
} */
